

    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Best Cars dealership:</p>
    </div>

     <p>Adres:</p>
     <p>Telefon Number:</p>

     <div class="row">

      <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
              </div>
          </div>
      </nav>

   <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <div class="navbar-header">
               <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
          </div>
      </div>
  </nav>

 
</class>